{{ form_start(formEvent) }}

        {{ form_row(formEvent.name) }}
        {{ form_row(formEvent.startTime) }}
        {{ form_row(formEvent.registrationTimeLimit) }}
        {{ form_row(formEvent.registrationMax) }}
        {{ form_row(formEvent.duration) }}
        {{ form_row(formEvent.eventInfo) }}
        {{ form_row(formEvent.campusSite) }}
        <input type="button" name="Submit" value="Modifier Campus" onclick="activer()" />
        {{ form_row(formEvent.place) }}

        <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(formEvent, {render_rest: false}) }}

<script src="{{ asset("event/script.js") }}"></script>