{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div class="column is-offset-9">
        <p>Date du jour : {{ "now"|date('d/m/Y') }}</p>
        <p>Participant : {{ app.user.lastName }} {{ app.user.firstName }}</p>
    </div>
    <p>{% for notice in app.flashes('Modifok') %}
            {{ notice }}
        {% endfor %}
    </p>
    <h1 class="title is-3">Filtrer les sorties</h1>
    <form class="container box" action="{{ '/event/search' }}" method="POST">
        <div class="columns">
            <div class="column is-one-third">
                <div class="field">
                    <label class="label" for="campusSite">Campus : </label>
                    <select class="select" name="campusSite" id="campusSite">
                        <option value="">Tous</option>
                        {% for campus in campusList %}
                            <option value="{{ campus.id }}"
                                    {% if campusSite == campus.id %}selected{% endif %}>{{ campus.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label class="label" for="keywords">Le nom de la sortie contient : </label>
                    <input class="input" name="keywords" id="keywords" type="search" value= {{ keywords }}>
                </div>
                <div>
                    <label class="label" for="beginningDate">Entre le : </label>
                    <input class="input" name="beginningDate" id="beginningDate" type="datetime-local"
                           onclick="activate()" value={{ beginningDate }}>

                    <label class="label" for="endingDate">et le</label>
                    <input class="input" name="endingDate" id="endingDate" type="datetime-local" value={{ endingDate }}>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="field">
                    <div>
                        <input class="checkbox" name="organizer" id="organizer"
                               type="checkbox" {% if organizer %} checked {% endif %}>
                        <label class="label" for="organizer">Sortie dont je suis l'organisateur/trice</label><br>
                    </div>

                    <input name="registered" id="registered" type="checkbox"
                           onclick="desactivate()" {% if registered %} checked {% endif %}><label class="label"
                                                                                                  for="registered">Sortie
                        auxquelles je suis inscrit/e</label><br>
                    <input name="notRegistered" id="notRegistered" type="checkbox"
                           onclick="desactivate()" {% if notRegistered %} checked {% endif %}><label class="label"
                                                                                                     for="notRegistered">Sortie
                        auxquelles je ne suis pas inscrit/e</label><br>
                    <input name="pastEvents" id="pastEvents"
                           type="checkbox" {% if pastEvents %} checked {% endif %}><label class="label"
                                                                                          for="pastEvents">Sortie
                        passées</label>
                </div>
            </div>
            <div class="column">
                <button class="button is-primary" value="submit">Rechercher</button>
            </div>
        </div>
    </form>
    
    <div class="box">
        <table class="table">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture des inscriptions</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>

        </thead>
            <button><a href="{{ path('event_new') }}">Creer Evenement</a></button>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.startTime ? event.startTime|date('Y/m/d H:i') : '' }}</td>
                <td>{{ event.registrationTimeLimit ? event.registrationTimeLimit|date('Y/m/d') : '' }}</td>
                <td>{{ event.Users|length }}/{{ event.registrationMax }}</td>
                <td>{{ event.state.libeller }}</td>
                <td>{% for user in event.Users %}
                    {% if user == app.user %}
                        X
                    {% endif %}
                {% endfor %}</td>
                <td>{{ event.organizer.pseudo }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">Afficher</a>
                    <!--if organier is me and event not finish it s possible to modify -->
                    {% if event.organizer == app.user and event.state.id!=5 and event.state.id!=6%}
                        <a href="{{ path('event_update', {'id': event.id}) }}">Modifier</a>
                    {% endif %}
                    {% if event.organizer == app.user  %}
                    {% if event.state.libeller != 'Canceled'%}
                    <a href="{{ path('event_cancel', {'id': event.id}) }}">Annuler</a>
                    {% endif %}
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
