{{ form_start(formTown) }}
        {{ form_row(formTown.name) }}
        {{ form_row(formTown.postCode) }}
         <button><a href="{{ path('administration')}}">Annuler</a></button>
        <button class="btn">{{ button_label|default('Sauvegarder') }}</button>

{{ form_end(formTown, {render_rest: false}) }}
