{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="column is-offset-9">
        <p>Date du jour : {{ "now"|date('d/m/Y') }}</p>
        <p>Participant : {{ app.user.lastName }} {{ app.user.firstName }}</p>
    </div>
    <div class="container box" style="width: 1150px;">
        <h1 class="title is-3">Liste des utilisateurs</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Administrateur</th>
                <th>Actif</th>
                <th>Pseudo</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.admin ? 'Yes' : 'No' }}</td>
                    <td>{{ user.active ? 'Yes' : 'No' }}</td>
                    <td>{{ user.pseudo }}</td>
                    <td>
                        <a href="{{ path('user_profile', {'id': user.id}) }}">show</a>
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
