{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="column is-offset-9">
        <p>Date du jour : {{ "now"|date('d/m/Y') }}</p>
        <p>Participant : {{ app.user.lastName }} {{ app.user.firstName }}</p>
    </div>

    {% form_theme userForm 'bootstrap_5_horizontal_layout.html.twig' %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container box" style="width: 600px;">
        <h1 class="title is-3">Mon profil</h1>

        <div class="form">
            {{ form_start(userForm) }}

            <div class="">
                {{ form_widget(userForm) }}
            </div>
            <div class="filter1">
                <button class="button is-rounded" type="submit">Enregistrer</button>
            </div>

            {{ form_end(userForm) }}
        </div>
    </div>
{% endblock %}

