{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Détail Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>

            <tr>
                <th>Nom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Administrateur</th>
                <td>{{ user.admin ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ user.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
        </tbody>
    </table>

    <button><a href="{{ path('user_list') }}">back to list</a></button>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
